:root {
  --crimson: #db2350;
  --black: #392e44;
  --white: #ffffff;
  --linen: #f1f1f1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Campton", Arial, sans-serif;
  color: var(--black);
  background-color: var(--linen);
}
